BasedOnStyle: LLVM
IndentWidth: 4
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
InsertBraces: true
